[submodule "OpsCore/vendor/spdlog"]
	path = OpsCore/vendor/spdlog/
	url = https://github.com/gabime/spdlog
[submodule "OpsCore/vendor/GLFW"]
	path = OpsCore/vendor/GLFW
	url = https://github.com/glfw/glfw
