[submodule "OpsCore/vendor/GLFW"]
	path = OpsCore/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "OpsCore/vendor/spdlog"]
	path = OpsCore/vendor/spdlog/
	url = https://github.com/gabime/spdlog
[submodule "OpsCore/vendor/imgui"]
	path = OpsCore/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "OpsCore/vendor/glm"]
	path = OpsCore/vendor/glm
	url = https://github.com/g-truc/glm
